.top-bar {
    display: flex;
    height: 55px;

    @media (max-width: $breakpoint-xs) {
        flex-direction: column;
        margin-bottom: 20px;
    }    

    &__text {
        display: flex;
        align-items: center;
        padding-right: 20px;

        &:last-child { padding-right: 0; }

        @media (max-width: $breakpoint-sm) {
            font-size: 14px;
            padding-right: 15px;
        }
    }

    &__icon {
        font-size: 30px;

        @media (max-width: $breakpoint-sm) {
            font-size: 25px;
        }    
    }

    &__line {
        border-bottom: solid 1px #e7e7e7;
    }
}

.header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    flex-basis: 60%;
}

.nav {
    
    &__list {
        display: flex;
    }

    &__item {
        padding-right: 15px;

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {

        &:hover {
            color: $color-primary;
        }
    }
}

.attr-nav {
    font-size: 18px;
}

.fa-search {
    padding: 0 10px;
}

.fa-map-marker-alt, .fa-envelope-open, .fa-phone {
    padding-right: 10px;
    color: #0cb8b6;
}